# Analisi 1


- Import dei dati
- Pulizia dei dati
- Analisi del tipo di stanze nel dataset
- Prezzo stanza per notte

In [16]:
import pandas as pd
import numpy as np
import os

In [17]:
folder_path = os.path.abspath("..")
data_dir = 'dataset/rome-airbnb'
filename = 'listings.csv'
filepath = os.path.join(folder_path, data_dir, filename)

listings_raw = pd.read_csv(filepath)
listings_raw.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2737,https://www.airbnb.com/rooms/2737,20210210175822,2021-02-13,"Elif's room in cozy, clean flat.",10 min by bus you can get to Piazza Venezia or...,It used to be an industrial area until late 80...,https://a0.muscache.com/pictures/41225252/e955...,3047,https://www.airbnb.com/users/show/3047,...,10.0,9.0,9.0,NaN,f,5,0,5,0,0.09
1,2903,https://www.airbnb.com/rooms/2903,20210210175822,2021-02-12,Stay a night in Calisto6 B&B Rome,<b>The space</b><br />Calisto6 B&B is an Itali...,NaN,https://a0.muscache.com/pictures/6315103/3f4d3...,3280,https://www.airbnb.com/users/show/3280,...,9.0,9.0,9.0,NaN,f,3,0,3,0,0.37
2,3079,https://www.airbnb.com/rooms/3079,20210210175822,2021-02-13,Cozy apartment (2-4)with Colisseum view,With the view of the Colisseum from the front ...,Monti neighborhood is one of the best areas in...,https://a0.muscache.com/pictures/e85b119c-3667...,3504,https://www.airbnb.com/users/show/3504,...,10.0,10.0,9.0,NaN,f,7,7,0,0,0.14
3,11834,https://www.airbnb.com/rooms/11834,20210210175822,2021-02-11,"Roma ""Charming Boschetto House""",<b>The space</b><br />New Wi Fi installed!!!<b...,NaN,https://a0.muscache.com/pictures/dfcd3797-ff7d...,44552,https://www.airbnb.com/users/show/44552,...,10.0,10.0,9.0,NaN,f,1,1,0,0,1.19
4,12398,https://www.airbnb.com/rooms/12398,20210210175822,2021-02-11,Casa Donatello - Home far from Home,Casa Donatello is a newly renovated two-bedroo...,You are at 15 minutes walking distance from hi...,https://a0.muscache.com/pictures/miso/Hosting-...,11756,https://www.airbnb.com/users/show/11756,...,10.0,10.0,10.0,NaN,f,2,1,1,0,0.32

In [18]:
sorted(listings_raw.columns)

['accommodates',
 'amenities',
 'availability_30',
 'availability_365',
 'availability_60',
 'availability_90',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'calendar_last_scraped',
 'calendar_updated',
 'description',
 'first_review',
 'has_availability',
 'host_about',
 'host_acceptance_rate',
 'host_has_profile_pic',
 'host_id',
 'host_identity_verified',
 'host_is_superhost',
 'host_listings_count',
 'host_location',
 'host_name',
 'host_neighbourhood',
 'host_picture_url',
 'host_response_rate',
 'host_response_time',
 'host_since',
 'host_thumbnail_url',
 'host_total_listings_count',
 'host_url',
 'host_verifications',
 'id',
 'instant_bookable',
 'last_review',
 'last_scraped',
 'latitude',
 'license',
 'listing_url',
 'longitude',
 'maximum_maximum_nights',
 'maximum_minimum_nights',
 'maximum_nights',
 'maximum_nights_avg_ntm',
 'minimum_maximum_nights',
 'minimum_minimum_nights',
 'minimum_nights',
 'minimum_nights_avg_ntm',
 'name',
 'neighborhood_overview',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'number_of_reviews',
 'number_of_reviews_l30d',
 'number_of_reviews_ltm',
 'picture_url',
 'price',
 'property_type',
 'review_scores_accuracy',
 'review_scores_checkin',
 'review_scores_cleanliness',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_rating',
 'review_scores_value',
 'reviews_per_month',
 'room_type',
 'scrape_id']

In [19]:
# Selezioniamo solo alcune delle colonne
listings = listings_raw[[
    'id','name','longitude','latitude',
    'listing_url',
    'instant_bookable',
    'host_response_time',
    'host_neighbourhood',
    'review_scores_rating',
    'property_type',
    'room_type','accommodates',
    'bathrooms','bedrooms','beds','reviews_per_month','amenities',
    'number_of_reviews',
    'price'
  ]]
listings.head()

,id,name,longitude,latitude,listing_url,instant_bookable,host_response_time,host_neighbourhood,review_scores_rating,property_type,room_type,accommodates,bathrooms,bedrooms,beds,reviews_per_month,amenities,number_of_reviews,price
0,2737,"Elif's room in cozy, clean flat.",12.48355,41.87218,https://www.airbnb.com/rooms/2737,f,within a day,Testaccio,96.0,Private room,Private room,1,NaN,1.0,0.0,0.09,"[""Free parking on premises"", ""Elevator"", ""Drye...",7,$21.00
1,2903,Stay a night in Calisto6 B&B Rome,12.47002,41.88826,https://www.airbnb.com/rooms/2903,f,within a few hours,Trastevere,86.0,Private room in bed and breakfast,Private room,4,NaN,1.0,2.0,0.37,"[""Shampoo"", ""Indoor fireplace"", ""TV"", ""Dedicat...",55,$37.00
2,3079,Cozy apartment (2-4)with Colisseum view,12.49163,41.89503,https://www.airbnb.com/rooms/3079,f,NaN,Monti,88.0,Entire apartment,Entire home/apt,4,NaN,1.0,4.0,0.14,"[""Paid parking off premises"", ""Washer"", ""Dedic...",17,$105.00
3,11834,"Roma ""Charming Boschetto House""",12.49058,41.89574,https://www.airbnb.com/rooms/11834,f,NaN,Monti,95.0,Entire apartment,Entire home/apt,2,NaN,1.0,1.0,1.19,"[""Pack \u2019n Play/travel crib"", ""Washer"", ""H...",142,$90.00
4,12398,Casa Donatello - Home far from Home,12.46809,41.92584,https://www.airbnb.com/rooms/12398,f,within an hour,Flaminio,98.0,Entire apartment,Entire home/apt,5,NaN,2.0,3.0,0.32,"[""Dishwasher"", ""Lockbox"", ""Washer"", ""Dedicated...",40,$73.00

# Data preparation

## Price da stringa a numero reale

In [20]:
@np.vectorize
def remove_dollar(label: str):
  return float(label.replace('$','').replace(',',''))

#listings['price'] = remove_dollar(listings['price'])
listings_2 = listings.assign(price = remove_dollar(listings.price))
listings_2[['price']]

        price
0        21.0
1        37.0
2       105.0
3        90.0
4        73.0
...       ...
27642    44.0
27643    44.0
27644    38.0
27645  1802.0
27646    94.0

[27647 rows x 1 columns]

## Analisi del Tipo di stanza ('room_type')

Studiamo le differenze tra i differenti tipi di stanze. 

Gli "host" di Airbnb possono affittare case/appartamenti interi, stanze private o condivise.

Secondo la tipologia di alloggio offerto e il tasso di attività, un annuncio di Airbnb potrebbe funzionare in maniera più simile ad un hotel non regolamentato, essere di disturbo al vicinato, sottrarre disponibilità di alloggi al settore residenziale ed essere illegale.


### Livelli

In [21]:
# levels
list(listings_2['room_type'].unique())

['Private room', 'Entire home/apt', 'Hotel room', 'Shared room']

### Conteggio

In [22]:
# 'listing' count per 'room_type'
listings_2\
  .groupby('room_type', dropna=False)\
  .id.count()\
  .reset_index()\
  .rename(columns={'id':'listing_count'})

         room_type  listing_count
0  Entire home/apt          17248
1       Hotel room           1276
2     Private room           8923
3      Shared room            200

### Prezzo per notte

In [23]:
# mean 'price'
listings_2\
  .agg({
      'price': [np.mean]
  })

           price
mean  105.107643

In [24]:
# mean 'price' per 'room_type'
listings_2\
  .groupby('room_type')\
  .agg({
      'price': [np.mean]
  })

                      price
                       mean
room_type
Entire home/apt  114.339170
Hotel room        96.080721
Private room      90.041690
Shared room       38.740000

In [25]:
# mean 'price' per 'room_type'
listings_3 = listings_2\
  .groupby('room_type')\
  .agg({
      'price': ['count', 'mean']
  })\
  .reset_index()

listings_3['count_perc'] = listings_3['price']['count'] / listings_3['price']['count'].sum() * 100

listings_3

         room_type  price             count_perc
                    count        mean
0  Entire home/apt  17248  114.339170  62.386516
1       Hotel room   1276   96.080721   4.615329
2     Private room   8923   90.041690  32.274750
3      Shared room    200   38.740000   0.723406

In [26]:
pivot_df = listings_2\
    .groupby(['property_type','room_type'])\
    .price\
    .mean()\
    .round(0)\
    .reset_index()

pivot_df

               property_type        room_type  price
0                       Boat  Entire home/apt   52.0
1                  Camper/RV  Entire home/apt   52.0
2                   Campsite  Entire home/apt   60.0
3            Casa particular  Entire home/apt   44.0
4                     Castle  Entire home/apt   60.0
..                       ...              ...    ...
77  Shared room in townhouse      Shared room   12.0
78                      Tent  Entire home/apt   28.0
79                Tiny house  Entire home/apt   68.0
80                      Tipi  Entire home/apt  195.0
81                 Treehouse  Entire home/apt   75.0

[82 rows x 3 columns]

In [51]:
# to pivot
pivot_table = pivot_df\
    .pivot(
        columns='room_type',
        values='price',
        index=['property_type']
    )\
    .reset_index()

pivot_table

room_type,property_type,Entire home/apt,Hotel room,Private room,Shared room
0,Boat,52.0,NaN,NaN,NaN
1,Camper/RV,52.0,NaN,NaN,NaN
2,Campsite,60.0,NaN,NaN,NaN
3,Casa particular,44.0,NaN,NaN,NaN
4,Castle,60.0,NaN,NaN,NaN
...,...,...,...,...,...
72,Shared room in townhouse,NaN,NaN,NaN,12.0
73,Tent,28.0,NaN,NaN,NaN
74,Tiny house,68.0,NaN,NaN,NaN
75,Tipi,195.0,NaN,NaN,NaN
76,Treehouse,75.0,NaN,NaN,NaN

In [46]:
# and back
pivot_table.melt(
        id_vars=['property_type'],
        value_vars=['Entire home/apt', 'Hotel room', 'Private room'],
        var_name='room_type', value_name='price'
)

                property_type        room_type  price
0                        Boat  Entire home/apt   52.0
1                   Camper/RV  Entire home/apt   52.0
2                    Campsite  Entire home/apt   60.0
3             Casa particular  Entire home/apt   44.0
4                      Castle  Entire home/apt   60.0
..                        ...              ...    ...
226  Shared room in townhouse     Private room    NaN
227                      Tent     Private room    NaN
228                Tiny house     Private room    NaN
229                      Tipi     Private room    NaN
230                 Treehouse     Private room    NaN

[231 rows x 3 columns]

In [28]:
listings_2\
    .pivot_table(
        columns='room_type',
        values='price',
        index='property_type',
        aggfunc=lambda x: round(np.mean(x),0)
    )

room_type,Entire home/apt,Hotel room,Private room,Shared room
property_type,,,,
Boat,52.0,NaN,NaN,NaN
Camper/RV,52.0,NaN,NaN,NaN
Campsite,60.0,NaN,NaN,NaN
Casa particular,44.0,NaN,NaN,NaN
Castle,60.0,NaN,NaN,NaN
...,...,...,...,...
Shared room in townhouse,NaN,NaN,NaN,12.0
Tent,28.0,NaN,NaN,NaN
Tiny house,68.0,NaN,NaN,NaN
Tipi,195.0,NaN,NaN,NaN
Treehouse,75.0,NaN,NaN,NaN

In [52]:
listings_2\
    .pivot_table(
        columns='bedrooms',
        values='price',
        index='host_neighbourhood',
        aggfunc=lambda x: round(np.mean(x),0)
    )\
    .head(10000)

bedrooms,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,14.0,16.0
host_neighbourhood,,,,,,,,,,,,,,
Affori,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Astoria,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aurelio,81.0,118.0,191.0,226.0,260.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Balduina,69.0,145.0,112.0,127.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barona,NaN,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Westpunt,112.0,216.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zona 3,59.0,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zona 7,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zona 9,40.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
el Fort Pienc,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN